/******GLOBAL******/
body {
    color: black;
    margin: auto;
    height: 100%;
    font-family: 'Oxygen','Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
}

footer {
    background-color: #9d4edd;
    height: 100%;
    display: flex;
    flex-direction: row;
}



/************ HEADER ************/

img {
    width: 200px;
    height: 70px;
}

.nomBoutique {
    font-size: larger;
    padding-top: 20px;
}
.header {
    display: flex;
    background-color: #9d4edd;
    padding: 15px 0;
}

.navigation {
    width: 100%;
}

.acces {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-left: 30px;
    padding: 0;
}

.home {
    padding: 10px;
}

.cart {
    padding: 10px;
    margin-right: 10px;
}

.cart2 {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}




/******** CARTES PRODUITS **********/

.sectionProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProduct {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #9d4edd solid 2px;
    border-radius: 20px;
    margin: 10px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

.qteOptionProduit {
    display: flex;
    flex-direction: column;
}

#optionProduit {
    color: white;
    background-color: #9d4edd;
    width: 50%;
    outline: none;
    margin: 10px;
    align-self: center;
}

#qteProduit {
    color: white;
    background-color: #9d4edd;
    width: 50%;
    outline: none;
    margin: 10px;
    align-self: center;
}

.boutoncommande {
    border: 3px solid#9d4edd;
    color: white;
    border-radius: 30px;
    width: 80%;
    background-color: #9d4edd;
    margin: 10px;
    font-family: 'Oxygen','Courier New', Courier, monospace;
    padding: 10px;
    outline: none;
}

.btn-panier {
    border: 3px solid#9d4edd;
    color: white;
    border-radius: 30px;
    width: 80%;
    background-color: #9d4edd;
    margin: 10px;
    font-family: 'Oxygen','Courier New', Courier, monospace;
    padding: 10px;
    align-self: center;
    outline: none;
}

/******** FOOTER *********/

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

/************** PANIER ***********/

.inputqte {
    width:3%;
}

#tableproduit {
    border: 2px solid #9d4edd;
    width: 100%;
    padding: 5px;
}

#formulaire {
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.optionProduit {
    font-weight: bold;
}

.trproduit {
    padding: 10px;
}

#tdproduit {
    margin: 50px;
}

.btn-supprimer {
    border: 3px solid#9d4edd;
    border-radius: 20px;
    background-color: #9d4edd;
    padding: 1px;
    width: 20px;
    outline: none;
}

.totalProduit {
    width: 100%;
}

#calculPrixQte {
    margin: 20px;
    font-weight: bold;
}

/*************** FORMULAIRE ***************/

.titreFormulaire {
    margin: 30px;
    font-size: large;
    flex-wrap: wrap;
}

.contenuformulaire {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

label {
    padding: 5px;
}

#prenom {
    border: 3px solid#9d4edd;
    width: 50%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#nom {
    border: 3px solid#9d4edd;
    width: 50%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#adresse {
    border: 3px solid#9d4edd;
    width: 50%;
    margin: 0 10px 20px 0;
    
}

#ville {
    border: 3px solid#9d4edd;
    width: 50%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#codepostal {
    border: 3px solid#9d4edd;
    width: 50%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#email {
    border: 3px solid#9d4edd;
    width: 50%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#envoyerFormulaire {
    border: 3px solid#9d4edd;
    border-radius: 30px;
    width: 50%;
    background-color: #9d4edd;
    margin: 10px;
    font-family: 'Oxygen','Courier New', Courier, monospace;
    padding: 10px;
    color: white;
  
}


.styleManquant {
    color: rgb(153, 63, 63);
}
