/******GLOBAL******/
body {
    background-color: #8fc0a9;
    color: black;
    margin: auto;
    height: 100%;
    font-family: 'Oxygen','Courier New', Courier, monospace;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
    margin: 0;
}

footer {
    background-color: #70a288;
    height: 100%;
    display: flex;
    flex-direction: row;
}



/************ HEADER ************/

.logo {
    filter: brightness(150);

}

.nomBoutique {
    font-size: larger;
    padding-top: 20px;
}
.header {
    display: flex;
    background-color: #70a288;
    padding: 15px 0;
}

.navigation {
    width: 100%;
    margin-right: 10px;
}

.acces {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0;
}

.home {
    padding: 10px;
}

.cart {
    padding: 10px;
    margin-right: 10px;
}

.cart2 {
    padding: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}




/******** CARTES PRODUITS **********/

.sectionProduct {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cardProduct {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #70a288 solid 2px;
    border-radius: 20px;
    margin: 10px;
}

.img {
    width: 100%;
    height: auto;
    border-radius: 20px 20px 0 0;
}

/******** FOOTER *********/

.contact {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

/************** PANIER ***********/
table {
    display: flex;
    justify-content: center;
}
td {
    border: 5px solid black;
    padding: 5px;
}
th {
    display: flex;
    flex-direction: column;
}

.inputqte {
    width:3%;
}

/*************** FORMULAIRE ***************/

.titreFormulaire {
    display: flex;
    justify-content: center;
}

.contenuformulaire {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 20% 20%;
}

label {
    padding: 5px;
}

#prenom {
    border: 3px solid#70a288;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#nom {
    border: 3px solid#70a288;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#adresse {
    border: 3px solid#70a288;
    width: 40%;
    margin: 0 10px 20px 0;
    
}

#ville {
    border: 3px solid#70a288;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#codepostal {
    border: 3px solid#70a288;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#email {
    border: 3px solid#70a288;
    width: 40%;
    padding: 5px;
    margin: 0 10px 20px 0;
}

#envoyerFormulaire {
    border: 3px solid#70a288;
    border-radius: 30px;
    width: 20%;
    background-color: #9ae0c0;
    margin: 10px;
    font-family: 'Oxygen','Courier New', Courier, monospace;
    padding: 10px;
}

.styleManquant {
    color: rgb(153, 63, 63);
}
